@media (prefers-color-scheme:light) {
  body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url(../assets/Background.webp);
  background-size: cover;
  background-repeat: repeat;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  overflow: hidden;
  height: 100vh;
}

.encapsulation{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width:769px) {
  .history{
    left: 0 !important;
  }
  .encapsulation .calculator_Body{
    top: 2.5vmin !important;
    width: 45vw;
  }
  .encapsulation .calculator_Body .screen{
    width: 40vw;
    height: 41vh !important;
  }
.buttons_card button {
  width: 8vmin !important;
  height: 7.5vmin !important;
  border-radius: 2vmin !important;
}
.buttons_card {
  row-gap: 1vmin !important;
  column-gap: 2.5vmin !important;
}
.buttons_card div .custom_row {
  width: 7.5vmin !important;
  height: 5vmin !important;
  border-radius: 4vmin !important;
}
.buttons_card .zeroBtnWidth {
  width: 17.5vmin !important;
}
.buttons_card .PlusAndEqualBtn {
  height: 15.7vmin !important;
}
}

@media (max-width:700px) {
  .encapsulation   .encapsulation .calculator_Body{
    top: 5vmin !important;
    width: 45vw;
  }
}


@media (max-width:650px) {
  .encapsulation .calculator_Body{
    top: 6vmin !important;
    height: 88vh !important;
    width: 50vw;
  }
  .encapsulation .calculator_Body .screen{
    width: 40vw;
    height: 41vh !important;
  }
  .buttons_card button {
    width: 7.5vmin !important;
    height: 7.5vmin !important;
  }
  .buttons_card {
    row-gap: 1.5vmin !important;
    column-gap: 3vmin !important;
  }
  .buttons_card div .custom_row {
    width: 7.5vmin !important;
    height: 5vmin !important;
  }
}

@media (max-width:600px) {
  .encapsulation .calculator_Body{
    top: 6vmin !important;
    height: 90vh !important;
    width: 52vw;
  }
  .encapsulation .calculator_Body .screen{
    width: 45vw;
    height: 41vh !important;
  }
  .currentlyWriting,
  .WrittingArea,
  .answer{
    width: 43vw !important;
  }
  .buttons_card button {
    width: 8vmin !important;
    height: 8vmin !important;
  }
  .buttons_card {
    row-gap: 1.5vmin !important;
    column-gap: 4vmin !important;
  }
  .buttons_card div .custom_row {
    width: 8vmin !important;
    height: 5.5vmin !important;
  }
  .buttons_card .zeroBtnWidth {
    width: 20vmin !important;
  }
  .buttons_card .PlusAndEqualBtn {
    height: 17vmin !important;
  }
}


@media (max-width:550px) {
  .encapsulation .calculator_Body{
    top: 8vmin !important;
    height: 90vh !important;
    width: 60vw;
  }
  .encapsulation .calculator_Body .screen{
    width: 50vw;
    height: 41vh !important;
  }
  .currentlyWriting,
  .WrittingArea,
  .answer{
    width: 45vw !important;
    font-size: 5vmin !important;
  }

  .WrittingArea{
    padding-bottom: 5.5vmin !important;
  }
  
  .buttons_card button {
    width: 9vmin !important;
    height: 9vmin !important;
    font-size: 5vmin !important;
  }
  .buttons_card {
    row-gap: 1.5vmin !important;
    column-gap: 3.5vmin !important;
  }
  .buttons_card div .custom_row {
    width: 9vmin !important;
    height: 6vmin !important;
  }
  .calculator-button::before {
    bottom: 25% !important;
    font-size: 8vmin;
  }
  .Multiplication::before{
    font-size: 5vmin;
    bottom: 12% !important;
    right: 38% !important;
  }
  .Minus::before{
    font-size: 5vmin;
    bottom: 25% !important;
    right: 40% !important;
  }
  .divide::before{
    font-size: 5vmin;
    bottom: 20% !important;
    right: 33% !important;
  }
  .buttons_card .zeroBtnWidth {
    width: 21.5vmin !important;
  }
  .buttons_card .PlusAndEqualBtn {
    height: 19vmin !important;
  }
}

@media (max-width:500px) {
  .encapsulation .calculator_Body{
    top: 8vmin !important;
    height: 90vh !important;
    width: 65vw;
  }
  .encapsulation .calculator_Body .screen{
    width: 55vw;
    height: 41vh !important;
  }
  .currentlyWriting,
  .WrittingArea,
  .answer{
    width: 50vw !important;
  }
  .buttons_card button {
    width: 10vmin !important;
    height: 10vmin !important;
  }
  .buttons_card {
    row-gap: 1.5vmin !important;
    column-gap: 4.5vmin !important;
  }
  .buttons_card div .custom_row {
    width: 10vmin !important;
    height: 7vmin !important;
  }
  .buttons_card .zeroBtnWidth {
    width: 24vmin !important;
  }
  .buttons_card .PlusAndEqualBtn {
    height: 21vmin !important;
  }
}

@media (max-width:450px) {
  .encapsulation .calculator_Body{
    top: 15vmin !important;
    height: 80vh !important;
    width: 65vw;
  }
  .encapsulation .calculator_Body .screen{
    width: 60vw;
    height: 41vh !important;
  }
  .currentlyWriting,
  .WrittingArea,
  .answer{
    width: 55vw !important;
  }
  .buttons_card button {
    width: 11vmin !important;
    height: 11vmin !important;
    font-size: 6vmin !important;
  }
  .buttons_card {
    row-gap: 2vmin !important;
    column-gap: 4vmin !important;
  }
  .buttons_card div .custom_row {
    width: 11vmin !important;
    height: 8vmin !important;
  }
  .calculator-button::before {
    bottom: 30% !important;
    left: 40% !important;
    font-size: 9vmin;
  }
  .Multiplication::before{
    font-size: 6vmin;
    bottom: 20% !important;
    right: 40% !important;
  }
  .Minus::before{
    font-size: 6vmin;
    bottom: 30% !important;
    right: 40% !important;
  }
  .divide::before{
    font-size: 6vmin;
    bottom: 25% !important;
    right: 35% !important;
  }
  .buttons_card .zeroBtnWidth {
    width: 26vmin !important;
  }
  .buttons_card .PlusAndEqualBtn {
    height: 24vmin !important;
  }
}


@media (max-width:400px) {
  .encapsulation .calculator_Body{
    top: 18vmin !important;
    height: 80vh !important;
    width: 70vw;
  }
  .encapsulation .calculator_Body .screen{
    width: 60vw;
    height: 41vh !important;
  }
  .buttons_card button {
    width: 12vmin !important;
    height: 12vmin !important;
  }
  .buttons_card {
    row-gap: 2vmin !important;
    column-gap: 4vmin !important;
  }
  .buttons_card div .custom_row {
    width: 12vmin !important;
    height: 9vmin !important;
  }
  .buttons_card .zeroBtnWidth {
    width: 28vmin !important;
  }
  .buttons_card .PlusAndEqualBtn {
    height: 26vmin !important;
  }
  .WrittingArea,
  .answer{
    font-size: 6vmin !important;
  }
}

@media (max-width:350px) {
  .encapsulation .calculator_Body{
    top: 25vmin !important;
    height: 75vh !important;
    width: 70vw;
  }
  .encapsulation .calculator_Body .screen{
    width: 60vw;
    height: 41vh !important;
  }
  .buttons_card button {
    width: 13vmin !important;
    height: 13vmin !important;
  }
  .buttons_card {
    row-gap: 2.5vmin !important;
    column-gap: 4vmin !important;
  }
  .buttons_card div .custom_row {
    width: 13vmin !important;
    height: 9vmin !important;
    position: relative;
    top: 1vmin;
  }
  .buttons_card .zeroBtnWidth {
    width: 30vmin !important;
  }
  .buttons_card .PlusAndEqualBtn {
    height: 28vmin !important;
  }
}




.calculator_Body {
  height: 85vmin;
  width: 46vmin;
  background-color: rgba(0, 0, 0, 0.799);
  margin: auto;
  border-radius: 2vmin;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 7.5vmin;
}

.screen {
  height: 23vmin;
  width: 41vmin;
  margin: 3vmin 0;
  border-radius: 2vmin;
  padding: 1vmin;
  position: relative;
  bottom: 1vmin;
/*   border: solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons_card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  row-gap: 1vmin;
  column-gap: 2.5vmin;
  text-align: center;
  position: relative;
  bottom: 1vmin;
}

@media (max-width : 500px) {
  .buttons_card{
    transform: translateY(-1vmin);
  }
}
@media (max-width : 370px) {
  .buttons_card{
    transform: translateY(-3vmin);
  }
}

/* For Fix positions */

.Colum3_row2_item {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: -5;
  grid-row-end: -3;

}

.Colum4_row3_item {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: -3;
  grid-row-end: -1;
}

.Colum4_row5_item {
  grid-column-start: -4;
  grid-column-end: -2;
}

/* Dark Mode */

.numbers_cus{
background-color: rgb(35, 35, 35);
color: rgb(0, 255, 255);
}

.operations_cus{
  background-color:rgb(255, 157, 0);
}

.eraser_cus{
 background-color: rgb(255, 29, 29);
 color: white;
}

.Special_Btn_Cus{
  background-color: sandybrown;
}

/* Light Mode */

.BackGround{
  background-color: rgba(255, 255, 255, 0.923) !important;
}

.TextColor{
  color: rgb(0, 0, 0) !important;
}

.Light_numbers_cus{
  background-color: rgb(250, 55, 162) ;
  color: rgb(255, 255, 255) ;
  }
  
  .Light_operations_cus{
    background-color:rgb(0, 140, 255) ;
    color: rgb(255, 255, 255) ;
  }
  
  .Light_eraser_cus{
   background-color: rgb(0, 229, 255) ;
   color: rgb(255, 255, 255) 
  }
  
  .Light_Special_Btn_Cus{
    background-color: rgb(191, 0, 255);
    color: white;
  }

  .ColorMode{
    position: absolute;
    top: 40%;
    left: 0;
    padding: 2vmin 3vmin;
    background-color: gold;
    color: rgb(247, 7, 71);
    font-size: 2.6vmin;
    font-family: sans-serif;
    font-weight: bolder;
    border: none;
    outline: none;
    border-radius: 5vmin;
  }

  .Round{
    transform: rotate(360deg);
    transition-timing-function: ease-in-out;
    transition: all .5s;
  }


/* Toggle classes */

.Change1 {
  grid-row-start: -6 !important;
  grid-row-end: -4 !important;

}

.Change2 {
  grid-row-start: -4 !important;
  grid-row-end: -2 !important;
}

.HideExtraFunctionality {
  transform: scale(.001) !important;
  transition-timing-function: linear;
  transition: all .3s;
}

.HideExtraFunctionality100 {
  display: none;
  transition-timing-function: linear;
}

.ResizeCalculator {
  position: relative;
  top: 2vmin;
}

.showingExtraFunctionality {
  display: block;
  transform: scale(.001);
}

.showingExtraFunctionality100 {
  transform: scale(1);
  transition-timing-function: linear;
  transition: all .2s;
}

/* Point, Minus and Multiply Symbol For Button */
.calculator-button {
  position: relative;
}

.calculator-button::before {
  content: ".";
  position: absolute;
  bottom: 19%;
  left: 36%;
  font-size: 8vmin;
}

.Multiplication{
  position: relative;
}

.Multiplication::before{
  content: '*';
  position: absolute;
  font-size: 5vmin;
  bottom: 4%;
  right: 35%;
}

.Minus{
  position: relative;
}

.Minus::before{
  content: '-';
  position: absolute;
  font-size: 5vmin;
  bottom: 17%;
  right: 38%;
}


.divide{
  position: relative;
}

.divide::before{
  content: 'รท';
  position: absolute;
  font-size: 5vmin;
  bottom: 15%;
  right: 31%;
}

/*  Customizations */
.encapsulation .calculator_Body .zeroBtnWidth {
  width: 17.5vmin ;
}

.encapsulation .calculator_Body .PlusAndEqualBtn {
  height: 15.7vmin ;
}

.number {
  padding: 1vmin 2.5vmin;
  border-radius: 2vmin;
}

.buttons_card button {
  font-size: 4vmin;
  width: 7.5vmin;
  height: 7.5vmin;
  border-radius: 2vmin;
  outline: none;
  border: none;
  cursor: pointer;
}

.buttons_card button:active{
  transform: scale(.8);
  box-shadow: rgb(0, 255, 38) 6px 2px 16px 0px, rgb(255, 132, 0) -6px -2px 16px 0px;
  transition-timing-function: ease-in-out;
  transition: all .3s;

}

.buttons_card div .custom_row {
  width: 7.5vmin;
  height: 5vmin;
  border-radius: 4vmin;
}

.buttons_card .custom_row_pos {
  position: relative;
  top: 2.5vmin;
}

.historymode{
  position: relative;
}

.histroy_btn{
  outline: none;
  border: none;
  background-color: transparent;
 position: relative;
 top: 0;
 z-index: 10;
}

@media (max-width: 370px){
  .arrow{
    top: 3vmin !important;
  }
}

@media (max-width: 350px){
  .arrow{
    top: 4vmin !important;
  }
  .Colum4_row4_item{
    position: relative;
    transform: translateY(-.5vmin);
  }
}

@media (max-width: 320px){
  .arrow{
    top: 5vmin !important;
  }
  .Colum4_row4_item{
    position: relative;
    transform: translateY(-1vmin);
  }
}

@media (max-width: 290px){
  .Colum4_row4_item{
    position: relative;
    transform: translateY(-1.3vmin);
  }
}

.arrow{
  position: absolute;
  top: 2vmin;
  right: -1.5vmin;
  transform: translateY(-60%);
  border-style: solid;
  border-width: 2vmin 2vmin 0 2vmin;
  border-color: cyan transparent transparent transparent;
}

.arrow:hover{
  border-color: rgb(41, 190, 190) transparent transparent transparent;
  transition-timing-function: ease-in-out;
  transition: all .3s;
}

.activeArrow{
  transform: rotate(.5turn);
  transition-timing-function: ease-in-out;
  transition: all .5s;
}

.history{
  height: 0;
  font-family: sans-serif;
  font-size: 3vmin;
  border-radius: 1vmin;
  background-color: rgb(42 68 57);
  color: white;
  overflow-y: scroll;
  position: absolute;
  top: 0vmin;
  left: 100%;
  padding: 0px 4.5vmin;
  transition-timing-function: ease-in-out;
  transition: height .5s;
  z-index: 5;
}

.activeHistory{
  height: 80vh;
  transition-timing-function: ease-in-out;
  transition: height .5s;
}

.HistroyDate{
  color: chartreuse;
  font-family: sans-serif;
  font-size: 4vmin;
  font-weight: bold;
}

.currentlyWriting{
  margin: 0;
  width: 40vmin;
  padding: 0 1vmin;
  min-height: 10vmin;
  overflow: hidden;
  position: relative;
  top: 5vmin;
}

.WrittingArea{
  background-color: transparent;
  color: white;
  text-align: right;
  border: none;
  outline: none;
  font-family: sans-serif;
  font-size: 3vmin;
  overflow: hidden;
  padding-bottom: 3.2vmin;
}

.answer{
  margin: 1vmin 0;
  width: 40vmin;
  min-height: 10vmin;
  font-size: 4vmin;
  font-weight: bolder;
  font-family: sans-serif;
  text-align: right;
  overflow: hidden;
}